<!DOCTYPE html>
<html>
		<head>
				<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
				<meta charset="UTF-8">
				<title></title>
				<link rel="stylesheet" href="../../../css/iuapmobile.um.css">
				<link rel="stylesheet" href="../../../css/mintui.css" />
				<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_913882_oelwannvg8.css">
				<link rel="stylesheet" href="../../util/util.css">
				<link rel="stylesheet" href="inStore.css">

				<script type="text/javascript" src="../../../js/jquery.min.js" ></script>
				<script type="text/javascript" src="../../../js/summer.js" ></script>
				<script type="text/javascript" src="../../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
				<script type="text/javascript" src="../../../js/vue.js"></script>
				<script type="text/javascript" src="../../../js/mintui.js"></script>
				<script type="text/javascript" src="../../util/util.js" ></script>
				<script type="text/javascript" src="../../util/lang/lang.js" ></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
				<script type="text/javascript" src="../../../js/her.min.js" ></script>
				<script type="text/javascript" src="inStore.js"></script>
		</head>
		<body>
				<div class="loadingLayer"></div>
				<div id="audioHost">
						<audio id="audioCode"></audio>
				</div>
				<div class="um-win" id="index" :class=module_id>
						<div class="um-header header-bg">
								<a href="#" class="um-back" @click="goback"></a>
								<h3 class="title-color" v-text=module_title @click="secretDoor(4)" style="pointer-events: all;"></h3>
								<div class="um-header-btns"></div>
								<div class="ultra-btn customized-btn" v-text="langFunk('submit')" @click="confirmEdit()"></div>
						</div>

						<div class="um-content">
								<div class="query-kit">
										<div class="um-label um-box-justify">
												<div class="label-title" v-text="langFunk('procureReceipt')"></div>
												<div class="label-content">
														<input id="procureReceipt" type="text" v-model="procureReceipt"/>
												</div>
										</div>

										<div class="um-label um-box-justify">
												<div class="label-title" v-text="langFunk('procureStaff')"></div>
												<div class="label-content">
														<input id="procureStaff" type="text" v-model="procureStaff"/>
												</div>
										</div>

										<div class="um-label um-box-justify">
												<div class="wrapperNeighbor">
														<div class="label-title" v-text="langFunk('procureOrg')"></div>
														<div class="label-content">
																<input id="procureOrg" type="text" v-model="procureOrg"/>
														</div>
												</div>

												<div class="wrapperNeighbor">
														<div class="label-title" v-text="langFunk('warehouse')"></div>
														<div class="label-content">
																<input id="warehouse" type="text" v-model="warehouse"/>
														</div>
												</div>
										</div>

										<div class="um-label um-box-justify">
												<div class="wrapperNeighbor">
														<div class="label-title" v-text="langFunk('procureDept')"></div>
														<div class="label-content">
																<input id="procureDept" type="text" v-model="procureDept"/>
														</div>
												</div>

												<div class="wrapperNeighbor">
														<div class="label-title" v-text="langFunk('supplier')"></div>
														<div class="label-content">
																<input id="supplier" type="text" v-model="supplier"/>
														</div>
												</div>
										</div>
								</div>

								<div class="log-item">
										<div class="ultra-list-item" @click="" v-for="(item, index) in scanResult">
												<div class="log-item-inner">
														<div class="log-item-row">
																<div class="log-item-content" v-text='langFunk("goodId")+": "+item.goodId'></div ><div class="log-item-content" v-text='langFunk("amount")+": "+item.amount'></div>
														</div>
														<div class="log-item-row">
																<div class="log-item-content" v-text='langFunk("goodName")+": "+item.goodName'></div ><div class="log-item-content" v-text='langFunk("price")+": "+item.price'></div>
														</div>
														<div class="log-item-row">
																<div class="log-item-content" v-text='langFunk("goodType")+": "+item.goodType'></div ><div class="log-item-content" v-text='langFunk("sum")+": "+item.sum'></div>
														</div>
												</div>
										</div>
								</div>

								<div class="ultra-bottom-btns">
										<div class="ultra-bottom-btn" @click="letscan()">
												<div class="icon iconfont icon-scan"></div>
												<div v-text="langFunk('scan')"></div>
										</div>
										<div class="ultra-bottom-btn" @click="deletee()">
												<div class="icon iconfont icon-delete"></div>
												<div v-text="langFunk('delete')"></div>
										</div>
								</div>
						</div>
				</div>
		</body>
</html>